.qrcontainer{
    position: fixed;
    width: 102%;
    height: 102%;
    margin: -1%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(63, 63, 63);
}

.qrcontainer svg{
    width: 60%;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    z-index: 10;
}

.qrcontainer iframe{
    width: 60%;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    border: 0;
}

.qrcontainer svg{
    width: 60%;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    z-index: 5;
}

.app-qrscanner-load{
    width: 60%;
    position: absolute;
    margin-left: 20%;
    margin-top: 45%;
    z-index: 4;
}

.app-qrscanner-load img{
    width: 50%;
    margin-left: 25%;
}

.qrcontainer h2{
    color: white;
    font-weight: 800;
    position: absolute;
    text-align: center; 
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    font-size: 1.5em;
}

.fake-content{
    height: 400px;
    border: 1px solid black;
}

.mybtn{
    width: 300px;
    height: 50px;
    font-size: 2em;
    border: 1px solid black;
}

.confirm-success{
    font-size: 2.5em;
    color: green;
    margin-top: 20%;
    text-align: center;
}

.app-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.app-header{
    height: 60px;
    width: 100%;
    position: fixed;
}

.app-header img{
    height: 100%;
    width: auto;
}

.app-body{
    width: 100%;
    height: 100%;
    background-color: rgb(242,242,242);
}

.app-qrscan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-qrscan p{
    text-align: center;
    font-size: 1.2em;
    color: #78849E;
}

.app-fake-content{
    margin:0;
    width: 100%;
    margin-bottom: -3%;
}

.app-fake-content img{
    margin:0;
    width: 100%;
}

.app-qrscan button{
    width: 80%;
    margin-left: 10%;
    color: white;
    background-color: #E7731F;
    height: 45px;
    margin-top: 4%;
    border-radius: 8px;
    font-size: 1.2em;
    border: 0;
}